<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CloverRH_Connection" connectionString="Data Source=mxni3-app-08\MXNILOCALAPPS;Initial Catalog=cloverrh;Persist Security Info=True;User ID=Sa;Password=Admin.10" providerName="System.Data.SqlClient" />
    <add name="CloverPRO_Connection" connectionString="Data Source=mxni3-app-08\MXNILOCALAPPS;Initial Catalog=cloverprod;Persist Security Info=True;User ID=Sa;Password=Admin.10" providerName="System.Data.SqlClient" />
    <add name="CloverIT_Connection" connectionString="Data Source=mxni3-app-08\MXNILOCALAPPS;Initial Catalog=clover_it;Persist Security Info=True;User ID=Sa;Password=Admin.10" providerName="System.Data.SqlClient" />
    <add name="CloverPRO_ConnectionDebug" connectionString="Data Source=MEXI0848\SQLEXPRESS;Initial Catalog=cloverprod;Persist Security Info=True;User ID=sa;Password=clover" providerName="System.Data.SqlClient" />
    <add name="Tress_Connection" connectionString="Data Source=MXAPP6\MXTRESS;Initial Catalog=Dataproducts;Persist Security Info=True;User ID=tress20;Password=Tress20" providerName="System.Data.SqlClient" />
    <add name="CloverRH_ConnectionDebug" connectionString="Data Source=mxni3-app-08\\MXNILOCALAPPS;Initial Catalog=Prueabas2010;Persist Security Info=True;User ID=Sa;Password=Admin.10" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>